* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/idromele_le_tre_rune.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.conteiner {
  background: rgba(125, 124, 122, 0.7);
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  border: 3px solid black;
  padding: 10px;
}

.titolo {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 150px;
}

.qualunque {
  height: 200vh;
  width: 100%;
}

.logo {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0)
}
.navcont {
  display: none;
  background: rgba(125, 124, 122, 0.9)
}
.logo:hover + .navcont {
  display: block;
}

.sottotitolo, .nav {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  width: 20%;
  margin: auto;
  text-align: center;
}

.nav {
  background-image: radial-gradient(#f7ba3e, #9198e5);
  border: 1px solid black;
}
