* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(113,235,52);
}
.conteiner {
  background: white;
  background-attachment: fixed;
  width: 80%;
  margin: auto;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

.titolo {
  font-family: 'Permanent Marker', cursive;
}
